.container {
  background-color: var(--c-beige-0);
}

.title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 7.5px;
  margin-bottom: 100px;
}

.content {
  display: flex;
  align-self:stretch;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 20px
}

.date, .location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  display: block;
  font-size: 52px;
  line-height: 56px;
  font-weight: 500;
}

.captionDate {
  margin-bottom: 30px;
}

.captionLocation {
  margin-bottom: 27px;
}

.description {
  text-decoration: none;
  max-width: 250px;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  color: var(--c-brown-0);
}

.button {
  background-color: var(--c-brown-0);
  border: none;
  color: #fff;
  width: 140px;
  height: 45px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: var(--c-green-0);
  color: var(--c-beige-0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 130px 70px 100px 70px;
  font-style: italic;
  align-items: center;
  color: var(--c-brown-0);
}

.dresscode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example {
  width: 120px;
  height: 120px;
}

.picture {
  align-self: center;
}

@media (max-width: 1050px) {
  .wrapper {
    padding: 50px 10px;
  }

  .content {
    justify-content: space-around;
  }

  .title {
    font-size: 16px;
    line-height: 18px ;
    margin-bottom: 30px;
  }

  .caption {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 50px 10px;
  }
  .title {
    font-size: 16px;
    line-height: 18px ;
    margin-bottom: 30px;
  }
  .caption {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .content {
    align-items: center;
    flex-direction: column;
  }
  .date {
    margin-bottom: 20px;
  }
  .location {
    margin-top: 20px;
  }

  .description:last-child {
    margin-bottom: 0;
  }
}