.container {
  background-color: var(--c-beige-0);
}

.title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 7.5px;
  margin-bottom: 100px;
}

.content {
  display: flex;
  align-self:stretch;
  align-items: center;
  justify-content: space-between;
}

.date, .location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  display: block;
  font-size: 72px;
  line-height: 74px;
  font-weight: 500;
}

.captionDate {
  margin-bottom: 30px;
}

.captionLocation {
  margin-bottom: 27px;
}

.description {
  text-decoration: none;
  max-width: 250px;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  color: var(--c-brown-0);
}

.button {
  background-color: var(--c-brown-0);
  border: none;
  color: #fff;
  width: 140px;
  height: 45px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: var(--c-green-0);
  color: var(--c-beige-0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 130px 70px 100px 70px;
  font-style: italic;
  align-items: center;
  color: var(--c-brown-0);
}

@media (max-width: 640px) {
  .wrapper {
    padding: 40px 10px;
  }
  .title {
    margin-bottom: 60px;
  }
  .caption {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .content {
    flex-direction: column;
  }
  .date {
    margin-bottom: 20px;
  }
  .location {
    margin-top: 20px;
  }
}