.container {
  padding: 130px 100px 100px 100px;
  background-image: url(../../img/background.jpg);
  font-style: italic;
  color: var(--c-brown-0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 7.5px;
  margin-bottom: 30px;
}

.background {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: var(--c-beige-0);
  border: 50px solid var(--c-white-1);
}

.description, .call {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  margin-top: 0;
}

.hashtag {
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  padding: 5px;
}

.call {
  margin-bottom: 50px;
}

.collage {
  width: 700px;
  height: 400px;
}

@media(max-width:1280px) {
  .container {
    padding: 70px;
  }

  .title, .description, .call {
    font-size: 18px;
    line-height: 20px;
  }

  .hashtag {
    font-size: 24px;
    line-height: 26px;
  }
}

@media(max-width: 1050px) {
  .container {
    padding: 50px;
  }

  .background {
    border: 30px solid var(--c-white-1);
  }
}

@media(max-width: 640px) {
  .container {
    padding: 0;
    background-image: none;
  }

  .background {
    border: 20px solid var(--c-white-1);
    padding-left: 30px;
    padding-right: 30px;
  }

  .title, .description, .call {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: center;
  }

  .hashtag {
    font-size: 22px;
    line-height: 24px;
  }

  .collage {
    width: 300px;
    height: 200px;
  }
}
