.header {
  position: fixed;
  width: 100%;
  background-image: url(../../img/background.jpg);
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100px;
  justify-content: center;
  align-items: center;
}


.item {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 40px;
  color: var(--c-brown-0);
  cursor: pointer;
}

.item:hover {
  color: #000;
  transform: scale(1.1);
}