.container {
  background: url(../../img/background.jpg), url(../../img/background-branch2.jpg);
  background-repeat: repeat-x, no-repeat;
  background-size: 50%, cover;
  background-attachment: scroll, fixed;
  height: 1000px;
}

.invitation {
  max-width: 100%;
  width: 980px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 50px solid var(--c-white-1);
  background: url(./branch-left.png) no-repeat 40px 30px, url(./branch-right.png) no-repeat 560px 30px;
  background-color: var(--c-beige-0);
  color: var(--c-brown-0);
  padding: 50px;
  margin: 0 auto;
  padding-top: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.title, .text, .ceremony, .restaurant, .dresscode {
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 20px;
}

.name {
  font-size: 52px;
  line-height: 52px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 30px;
}

.icon {
  margin-bottom: 30px;
}

.text {
  margin-bottom: 30px;
}

.date {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.3em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 50px;
}

.ceremony, .restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ceremony {
  margin-bottom: 20px;
}

.ceremony p, .restaurant p {
  margin: 0;
}

.ceremony span, .restaurant span {
  margin-bottom: 15px;
  font-weight: 600;
}

.restaurant p {
  margin-bottom: 5px;
}

.picture {
  width: 300px;
  height: 600px;
}

.endline {
  display: none;
}

.dresscode {
  text-align: center;
  margin-bottom: 20px;
}


@media(max-width: 1280px) {
  .container {
    background-size: 70%, cover;
    height: 900px;
  }

  .invitation {
    border: 30px solid var(--c-white-1);
    padding: 30px;
  }

  .title, .text, .ceremony, .restaurant {
    font-size: 18px;
    line-height: 20px;
  }

  .name {
    font-size: 50px;
    line-height: 52px;
  }

  .picture {
    width: 250px;
    height: 500px;
  }
}

@media(max-width: 1050px) {

  .container {
    height: 750px;
  }

  .invitation {
    border: 30px solid var(--c-white-1);
    padding: 20px;
  }

  .title, .text, .ceremony, .restaurant, .dresscode {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .date {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .name {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .icon {
    margin-bottom: 15px;
  }

  .picture {
    width: 200px;
    height: 400px;
  }
}


@media (max-width: 700px) {
  .container {
    background-color: var(--c-white-0);
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
  }
  .icon {
    display: none;
  }

  .title {
    margin-bottom: 0;
  }

  .text {
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
  }


  .endline {
    display: block;
  }

  .name {
    display: flex;
    align-self: stretch;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 95px;
    background: url(./branch-left.png) no-repeat, url(./branch-right.png) no-repeat;
    background-size: 104px 199px;
    background-position: 20px 60%, 185px 60%;
    margin-bottom: 15px;
    text-align: center;
  }

  .invitation {
    background-image: none;
    border: 20px solid var(--c-white-0);
    padding: 10px;
    margin-top: 50px;
  }
}


@media (max-width: 400px) {
  .invitation {
    border: 5px solid var(--c-white-0);
    padding-left: 5px;
    padding-right: 5px;
  }
 }