.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 100px 100px 100px;
  background-color: var(--c-white-0);
  color: var(--c-brown-0);
  font-style: italic;
}

.title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 7.5px;
  margin-bottom: 50px;
}

.caption {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin-bottom: 10px;
}

.text {
  width: 1000px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.picture {
  margin-top: 50px;
}

@media(max-width: 1280px) {

  .container {
    padding: 70px
  }

  .title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .caption, .text {
    font-size: 18px;
    line-height: 20px;
    padding: 0 70px;
  }
}

@media(max-width: 1050px) {
  .container {
    padding: 50px;
  }
  .title, .caption, .text {
    font-size: 16px;
    line-height: 18px;
  }

  .text {
    width: 800px;
  }

  .picture {
    margin-top: 30px;
    width: 120px;
    height: 77px;
  }
}
